.blog_form {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0;
    background-color: var(--card_bg);
    /* box-shadow: 8px 8px 16px #e6e6e6,
        -8px -8px 16px #e6e6e6; */
    border-radius: 10px;
}

.form__head {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.form__head h1 {
    font-size: 1.5rem;
    padding: 0.25rem 0;
}

.form__head p {
    font-size: 0.9rem;
    padding: 0.1rem 0;
}

.form__body {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0;
}

.form__item label {
    font-size: 1rem;
    font-weight: 500;
}

.form__item input[type="text"],
.form__item input[type="file"],
.form__item input[type="password"],
.form__item input[type="email"],
.form__item textarea {
    padding: 0.35rem 0.6rem;
    margin: 0.35rem 0;
    font-size: 1rem;
    outline: 0;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.form__item input[type="file"] {
    border: 0;
}

.form__item textarea {
    resize: none;
}

.form__action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.submit_btn {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: var(--p-btn);
    border: 1px solid var(--p-btn);
    border-radius: 5px;
    color: #fff;
}

.submit_btn:hover {
    background-color: #2e4580;
    cursor: pointer;
}

.small_text {
    margin: 0.25rem 0;
    color: var(--s-colour);
    font-weight: 600;
}

.form__link {
    margin: 0 0.15rem;
    color: #2e4580;
    cursor: pointer;
    font-weight: 600;

}

@media screen and (max-width:600px) {
    .blog_form {
        width: 90%;
    }

    .form__head p {
        font-size: 0.8rem;
    }

    .form__body {
        width: 90%;
        padding: 0.5rem;
    }

    .form__item label {
        font-size: 0.9rem;
    }

    .form__item input[type="text"],
    .form__item input[type="file"],
    .form__item input[type="email"],
    .form__item input[type="password"],
    .form__item textarea {
        padding: 0.3rem 0.6rem;
        margin: 0.3rem 0;
        font-size: 0.9rem;
    }

    .form__item input[type="file"] {
        border: 0;
    }

    .form__action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
    }

    .small_text {
        font-size: 0.8rem;
    }
}