.blog_list {
    width: 80%;
    padding: 1rem 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    place-items: flex-start;
}

.blogItem {
    width: 100%;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    background-color: var(--card_bg);
    transition: all 0.2s linear;
}

.blogItem:hover {
    box-shadow: 8px 8px 16px #e6e6e6,
        -5px -5px 16px #ffffff;
}

.blog__image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.blog__image>div>div>img {
    width: 100%;
}

.blog__title {
    width: 100%;
    overflow-x: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 0.3rem;
}

.blog__date {
    width: 100%;
    color: var(--s-colour);
    font-size: 0.8rem;
    padding: 0.3rem;
    font-weight: 600;
}

.blog__author {
    padding: 0.3rem;
    font-size: 1rem;
}

.blog__save__button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--p-btn);
    cursor: pointer;
}

.blog__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.blog__button button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 0.09rem solid var(--p-btn);
    border-radius: 5px;
    color: var(--p-btn);
}

.blog__button button:hover {
    color: #fff;
    background-color: var(--p-btn);
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .blog_list {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
    }

}