@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
  --bg: #F1F1F1;
  --card_bg: #FFFFFF;
  --p-colour: #252525;
  --s-colour: #82706E;
  --p-btn: #1840A8;
  --font: 'Montserrat',
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  font-size: 20px;
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--p-colour);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
  padding: 0.2rem 0.4rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;

}

main {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0.5rem auto;
}

.sign-in {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #6441a5, #2a0845);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6441a5, #2a0845);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
}

.loading p {
  font-size: 2rem;
}

.blog_head {
  width: 80%;
  height: 10rem;
  margin: 1rem 0;
  padding: 0 1rem;
  background-color: var(--card_bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_head i {
  font-size: 2rem;
}

.blog_head p {
  padding: 0 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.blog_head span {
  padding: 0 0.1rem;
  font-size: 1rem;
  font-weight: 300;
  align-self: flex-end;
}

.loading-spinner {
  border: 10px solid #dbd9d9;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:600px) {
  h1 {
    font-weight: 500;
    padding: 1rem 0.3rem;
  }

  main {
    min-height: 100vh;
    justify-content: flex-start;
  }

  .loading {
    flex-direction: column;
  }

  .loading p {
    font-size: 1.1rem;
  }

  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 7px solid #dbd9d9;
    border-top: 7px solid #3498db;
  }

  .blog_head {
    width: 90%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
  }

  .blog_head i {
    font-size: 1.2rem;
  }

  .blog_head p {
    padding: 0 0.2rem;
    font-size: 1rem;
  }

  .blog_head span {
    padding: 0 0.1rem;
    font-size: 1rem;
    font-weight: 300;
    align-self: flex-end;
  }
}