@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
  --bg: #F1F1F1;
  --card_bg: #FFFFFF;
  --p-colour: #252525;
  --s-colour: #82706E;
  --p-btn: #1840A8;
  --font: 'Montserrat',
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html,
body {
  width: 100%;

  font-size: 20px;
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--p-colour);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0.5rem 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 80vh;
}

.loading p {
  font-size: 2rem;
}

@media screen and (max-width:600px) {
  main {
    min-height: auto;
  }
}